
/* ------------------------------
   APPLY OLD RESUME DESIGN
   TO THE RIGHT PREVIEW ONLY
--------------------------------*/
/* #preview-cv {
  background-color: #E9E7EA !important;
  padding: 50px !important;
  width: 1900px;
  max-width: 200%;
  margin: auto;
  box-shadow: 0 10px 50px #858585;
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  row-gap: 30px;
} */

/* Avatar section */
#preview-cv .avatar img{
  width:200px;
  height:200px;
  object-fit: cover;
  border-radius: 50%;
}
#preview-cv .avatar{
  display:flex;
  justify-content:end;
  align-items:center;
}

/* NAME + CONTACT AREA */
#preview-cv .name{
  padding-left:30px;
  border-left:1px solid #000;
}
#preview-cv .name h2{
  font-weight:300;
  font-size:xxx-large;
  margin:0 0 5px;
}

/* Summary / Intro */
#preview-cv .intro{
  padding-left:30px;
  border-left:1px solid #000;
  text-align:justify;
}

/* Experience */
#preview-cv .experience{
  text-align:right;
}
#preview-cv .experience h3{
  margin-bottom:15px;
}
#preview-cv .experience ul{
  padding:0;
  list-style:none;
}
#preview-cv .experience li{
  padding:10px 0;
}

/* Projects */
#preview-cv .project{
  padding-left:30px;
  text-align:justify;
  border-left:1px solid #000;
}
#preview-cv .project .item{
  position:relative;
}
#preview-cv .project .item::before{
  position:absolute;
  width:13px;
  height:13px;
  background:#000;
  content:'';
  border-radius:50%;
  left:-37px;
}

/* Skills */
#preview-cv .skills{
  margin-top:50px;
}
